@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "SN Pro", sans-serif;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    background-color:#252525;
    position: fixed;
    width: 100%;
    height: 70px;       
    z-index: 1000;       
}

#navbar h2{
    padding-left: 30px;
    
}
#navbar a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;       
    display: flex;            
    align-items: center;     
    justify-content: center;
    border-radius: 15px;
    transition: background-color 0.01 ease;

}
#navbar a:hover{
    background-color: black;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    background-color: black; 
}
#navbar ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

#navbar li{
    display: grid;
    margin-left: 30px;
    margin-right: 30px;
    place-items: center;
    
}
.material-symbols-outlined{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#hero{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    animation: slideShow 10s infinite;
}

@keyframes slideShow{
    0%{ background-image: url("./images/1770993493674.png"); }
    33%{ background-image: url("./images/1770993456772.png")}
    66%{ background-image: url("./images/1770993533671.png")}
    100%{ background-image: url("https://img.freepik.com/premium-photo/commercial-photo-indian-national-dish-curry-restaurant-serving-dark-background_511725-1991.jpg"); }
}

#hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}


.hero-overlay{
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 20px;
    transition: transform 0.3s ease;
}

#hero h1{
    font-size: 60px;
    margin-bottom: 10px;
}

#hero p{
    font-size: 20px;
    margin-bottom: 25px;
    color: #ddd;
    font-family: "Lobster Two", sans-serif;

}

.hero-overlay h1:hover{
    color: #ff7a00;
    transform: scale(1.1);
}

.hero-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn{
    padding: 12px 28px;
    background: #252525;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.btn-outline{
    background: transparent;
    border: 2px solid white;
}

.btn:hover{
    opacity: 0.85;
    background: #ff7a00;}

#about{
    padding: 60px 10%;
    background: #111;
}

.about-container{
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.about-text{
    flex: 1;
    min-width: 280px;
    overflow: hidden;
}

.about-text h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text p{
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-img{
    flex: 1;
    min-width: 280px;
}

.about-img img{
    width: 100%;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.about-img img:hover{
    width: 100%;
    border-radius: 12px;
    border:2px solid #ff7a00;
    transform: scale(1.1);
}

.about2-img img{
    scale: 0.8;
    transition: transform 0.3s ease;
}

.about2-img img:hover{
    width: 100%;
    border-radius: 12px;
    border:2px solid #ff7a00;
    transform: scale(1.1);
}

footer{
    background: #111;
    color: #ccc;
    padding-top: 50px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 10% 40px;
}

.footer-box{
    min-width: 220px;
    flex: 1;
}

.footer-box h3{
    color: white;
    margin-bottom: 15px;
}

.footer-box a{
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-box a:hover{
    color: white;
}

.footer-bottom{
    text-align: center;
    padding: 15px;
    background: #000;
    font-size: 14px;
}

#about2{
    padding: 80px 10%;
    background: #181818;
    
}

.about2-wrapper{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.about2-img{
    flex: 1;
    min-width: 280px;
}

.about2-img img{
    width: 100%;
    border-radius: 12px;
}

.about2-text{
    flex: 1;
    min-width: 280px;
    overflow: hidden;
}

.about2-text h2{
    font-size: 38px;
    margin-bottom: 15px;
}

.about2-text p{
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 12px 25px;
    background: #252525;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}

.about-btn:hover{
    background-color: #ff7a00;
}