@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body{
    margin: 0;
    height: 100vh;              
    display: flex;              
    justify-content: center;    
    align-items: center;        
    background-color: #f0f0f0; 
    background-color: #252525;
    background-size: cover;
    font-family: "SN Pro", sans-serif;
    animation: slideShow 10s infinite;
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    color: white;
}
#loginpage{
    max-width: 900px;
    min-width: 400px;
    display: flex;
    align-items: center;
}

.form {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #093f05;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #030a3c;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 10px;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}

#closebtn{
    all: unset;
    height: 30px;
    width: 80px;
    background-color: red;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;   
    align-items: center;       
    color: white;
    margin: 10px auto;         
    cursor: pointer;
}
#closebtn:hover{
    background-color: white;
    color: black;
}

.foodicon{
    margin: 30px;
}


@keyframes slideShow{
    0%{ background-image: url("./images/1770993493674.png"); }
    33%{ background-image: url("./images/1770993456772.png")}
    66%{ background-image: url("./images/1770993533671.png")}
    100%{ background-image: url("https://img.freepik.com/premium-photo/commercial-photo-indian-national-dish-curry-restaurant-serving-dark-background_511725-1991.jpg"); }
}
