@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    margin:0;
    background:#111;
    color:white;
    font-family: "SN Pro", sans-serif;
}

.menu-header{
    text-align:center;
    padding:30px 10%;
    background:#000;
}

.back-btn{
    display:inline-block;
    margin-top:10px;
    color:#ff7a00;
    text-decoration:none;
}

.menu-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap:25px;
    padding:40px 10%;
}

.card{
    background:#1c1c1c;
    border-radius:12px;
    padding:15px;
    text-align:center;
    transition:0.3s;
}

.card img{
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:10px;
}

.card h3{
    margin:10px 0 5px;
}

.card p{
    font-size:14px;
    color:#bbb;
}

.card span{
    display:block;
    margin-top:8px;
    color:#ff7a00;
    font-weight:bold;
}

.card:hover{
    transform:translateY(-5px);
}